---
import { Image } from 'astro:assets'
import LogoDzeio from '../assets/sponsors/dzeio.svg'
import LogoOutpost from '../assets/sponsors/outpost.png'

const sponsors: Array<{
	name: string
	img?: ImageMetadata
	url?: string
	size?: 'large' | 'small'
}> = [
	{
		name: 'Dzeio', // Custom Sponsor
		img: LogoDzeio,
		url: 'https://dzeio.com',
		size: 'large'
	},
	{
		name: 'Output',
		img: LogoOutpost,
		url: 'https://www.outpost.be',
		size: 'small'
	}
]
---

<section class="mt-6 max-w-64">
	<p>Sponsors</p>
	<div class="grid 2xl:grid-cols-2 rounded-xl overflow-hidden gap-1 w-full mt-2">
		{sponsors.map(sponsor => (
			<a href={sponsor.url} class:list={{'col-span-2': sponsor.size === 'large'}} target="_blank" rel="noopener">
				<article>
					{sponsor.img ? (
						<Image height={sponsor.size === 'large' ? 30 : 24} src={sponsor.img} alt={`Logo ${sponsor.name}`}/>
					) : (
						<p class:list={["font-bold text-black text-center", {'text-xl w-full': sponsor.size === 'large', 'text-sm': sponsor.size !== 'large'}]}>{sponsor.name}</p>
					)}
				</article>
			</a>
		))}
	</div>
	<a href="https://github.com/sponsors/tcgdex" target="_blank" class="font-light text-sm italic">Sponsor the project</a>
</section>

<style>
	section {
		width: calc(var(--sl-sidebar-width) + (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2)
	}
	div a {
		height: 100%;
		flex-grow: 1;
		height: 68px;
	}
	article {
		display: flex;
		background-color: var(--sl-color-gray-6);
		justify-content: center;
		align-items: center;
		padding: 1.5rem;
		height: 68px;
		width: 100%;
		transition: all 0.1s linear;
	}
	article:hover {
		background-color: var(--sl-color-gray-1);
	}
	:root[data-theme='light'] article {
		background-color: var(--sl-color-gray-7);
	}
	:root[data-theme='light'] article:hover {
		background-color: var(--sl-color-gray-6);
	}
	article:hover :global(img) {
		filter: none !important;
	}
	:root article :global(img) {
		filter: grayscale(1) ;
		transition: all 0.1s linear;
	}
	div a:nth-child(even):last-child article,
	div a:nth-child(odd):nth-last-child(2):has(+ a:nth-child(even):last-child) article {
		border-bottom-right-radius: 16px;
	}
	div:has(a:not(.col-span-2):only-of-type) a.col-span-2 article {
		border-bottom-right-radius: 16px;
	}
</style>
